--- 
import AdminLayout from '../layouts/AdminLayout.astro';
import App from '../components/admin/App'
---

<html lang="es">
    <head>
        <script is:inline type="text/javascript">
            const path = location.pathname
            if ((path === "/admin" || path === "/admin/") && location.hash === "") {
                location.replace("/admin/#");
            }
        </script>
        <title>Book-shop admin</title>
    </head>
    <body>
        <AdminLayout>
            <App client:only="react" />
        </AdminLayout>
    </body>
</html>