--- 
import App from '../components/admin/App';

---

<html lang="es">
    <head>
        <script is:inline type="text/javascript">
            if (location.pathname === "/admin" && location.hash === "") {
                location.replace("/admin/");
            }
        </script>
        <title>Book-shop admin</title>
    </head>
    <body>
        <App client:only="react" />
    </body>
</html>